{{define "account"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Accounts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		{{template "header" .}}

		<center>
			<h1>Account</h1>
			<h6>address: {{.Address}}</h6>
		</center>
		<hr>

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Transactions</th>
		    </tr>
		  </thead>
		  <tbody>
		  	{{range .Txs}}
			    <tr>
				  <td><a href="/transactions/{{.}}">{{.}}</a></td>
			    </tr>
		    {{end}}
		  </tbody>
		</table>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>
{{end}}