{{define "account"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Accounts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="assets/build/app.css">
</head>
<body>
	<div class="container">
		{{template "header" .}}

		<h1 class="text-center">Account</h1>
		<h6 class="text-center">address: {{.Address}}</h6>
		<hr>

		<div class="block-table">
			<div class="row">
				<div class="col-md-12 bt-header">Transactions</div>
			</div>
			{{range .}}
				<div class="row">
					<div class="col-md-12"><a href="/transactions/{{.}}">{{.}}</a></div>
				</div>
			{{end}}
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>
{{end}}