{{define "title"}}Accounts{{end}}

{{define "content"}}
	<h1 class="text-center">Accounts list</h1>
	<hr>

	{{if .}}
		<div class="block-table">
			<div class="row">
				<div class="col-md-12 bt-header">Address</div>
			</div>
			{{range .}}
			<div class="row">
				<div class="col-md-12"><a href="/accounts/{{.}}">{{.}}</a></div>
			</div>
			{{end}}
		</div>
	{{else}}
		<p class="text-center">There is no such blocks or transactions. Please wait a while...</p>
	{{end}}
{{end}}