{{define "block"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Block #{{.number}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="assets/build/app.css">
</head>
<body>
	<div class="container">
		{{template "header" .}}

		{{if .}}
			<h1 class="text-center">Block #{{.block.number}}</h1>
			<hr>
			<p>Gas Used: {{.block.gasUsed}}</p>
			<p>Hash: {{.block.hash}}</p>
			<p>Number: {{.block.number}}</p>
			<p>Size: {{.block.size}}</p>
			<p>Timestamp: {{.block.timestamp}}</p>
			<p>Validator: <a href="/accounts/{{.block.validator}}">{{.block.validator}}</a></p>
		{{else}}
			<h1 class="text-center">There is not such block</h1>
		{{end}}

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>TXID</th>
		      <th>To</th>
		      <th>From</th>
		      <th>Value</th>
		    </tr>
		  </thead>
		  <tbody>
				{{range .txs}}
			    <tr>
			      <th scope="row"><a href="/transactions/{{.hash}}" class="shortcut">{{.hash}}</a></th>
			      <td><a href="/accounts/{{.to}}" class="shortcut">{{.to}}</a></td>
			      <td><a href="/accounts/{{.from}}" class="shortcut">{{.from}}</a></td>
			      <td>{{.value}}</td>
			    </tr>
		    {{end}}
		  </tbody>
		</table>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>
{{end}}