{{define "blocks"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blocks </title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="assets/build/app.css">
</head>
<body>
	<div class="container">
		{{template "header" .}}

		<h1 class="text-center">Blocks</h1>
		<hr>
		{{if .}}
			<table class="table">
			  <thead>
			    <tr>
			      <th>Block Number</th>
			      <th>Transactions</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{{range .}}
				    <tr>
				      <th scope="row"><a href="/blocks/{{.Number}}">{{.Number}}</a></th>
				      <th scope="row">{{.TransactionsLength}}</th>
				    </tr>
			    {{end}}
			  </tbody>
			</table>
		{{else}}
			<p class="text-center">There is no such blocks or transactions. Please wait a while...</p>
		{{end}}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>
{{end}}