{{define "title"}}Welcome{{end}}

{{define "content"}}
	<h1 class="text-center">keksplorer</h1>
	<hr>

	{{if .blocks}}
		<div class="row">
			<div class="col-md-6">
				<h2>Recent blocks</h2>
				<div class="block-table">
					<div class="row">
						<div class="col-md-4 bt-header">Block Number</div>
						<div class="col-md-4 bt-header">Transactions</div>
						<div class="col-md-4 bt-header">Validator</div>
					</div>

					{{range .blocks}}
						<div class="row">
							<div class="col-md-4"><a href="/blocks/{{.Number}}">{{.Number}}</a></div>
							<div class="col-md-4">{{.TransactionsLength}}</div>
							<div class="col-md-4"><a href="/accounts/{{.Validator}}">{{.Validator}}</a></div>
						</div>
					{{end}}
				</div>
			</div>
			<div class="col-md-6">
				<h2>Recent transactions</h2>
				<div class="block-table">
					<div class="row">
						<div class="col-md-3 bt-header">TXID</div>
						<div class="col-md-3 bt-header">From</div>
						<div class="col-md-3 bt-header">To</div>
						<div class="col-md-3 bt-header">Value</div>
					</div>
					{{range .txs}}
						<div class="row">
							<div class="col-md-3"><a href="/transactions/{{.Hash}}">{{.Hash}}</a></div>
							<div class="col-md-3"><a href="/accounts/{{.From}}">{{.From}}</a></div>
							<div class="col-md-3">
								{{if .To}}
									<a href="/accounts/{{.To}}">{{.To}}</a>
								{{else}}
									<p>Contract Deployment</a>
								{{end}}
							</div>
							<div class="col-md-3">{{.Value}}</div>
						</div>
					{{end}}
				</div>
			</div>
		</div>
	{{else}}
		<p class="text-center">There is no such blocks or transactions. Please wait a while...</p>
		{{if .percentLoaded}}
			<div class="row">
				<div class="col-12">
					<p class="text-center">
						{{.percentLoaded}}% of blocks is loaded
					</p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: {{.percentLoaded}}%" aria-valuenow="{{.percentLoaded}}" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
				</div>
			</div>
		{{end}}
	{{end}}
{{end}}