{{define "main"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="assets/build/app.css">
</head>
<body>
	<div class="container">
		{{template "header" .}}

		<h1 class="text-center">keksplorer</h1>
		<hr>

		{{if .blocks}}
		<div class="row">
		  <div class="col-md-6">
		  <h2>Recent blocks</h2>
			<table class="table">
			  <thead>
			    <tr>
			      <th>Block Number</th>
			      <th>Transactions</th>
			      <th>Validator</th>
			    </tr>
			  </thead>
			  <tbody>
				{{range .blocks}}
				    <tr>
				      <th scope="row"><a href="/blocks/{{.Number}}">{{.Number}}</a></th>
				      <th scope="row">{{.TransactionsLength}}</th>
				      <th scope="row"><a href="/accounts/{{.Validator}}" class="shortcut">{{.Validator}}</a></th>
				    </tr>
			    {{end}}
			  </tbody>
			</table>
		  </div>
		  <div class="col-md-6">
			<h2>Recent transactions</h2>
			<table class="table">
			  <thead>
			    <tr>
			      <th>TXID</th>
			      <th>From</th>
			      <th>To</th>
			      <th>Value</th>
			    </tr>
			  </thead>
			  <tbody>
				{{range .txs}}
				    <tr>
				      <th scope="row"><a href="/transactions/{{.Hash}}" class="shortcut">{{.Hash}}</a></th>
				      <th scope="row"><a href="/accounts/{{.From}}" class="shortcut">{{.From}}</a></th>
				      <th scope="row">
				      	{{if .To}}
				      		<a href="/accounts/{{.To}}" class="shortcut">{{.To}}</a>
				      	{{else}}
				      		<p>Contract Deployment</a>
				      	{{end}}
				    	</th>
				      <th scope="row">{{.Value}}</th>
				    </tr>
			    {{end}}
			  </tbody>
			</table>
		  </div>
		</div>
		{{else}}
			<p class="text-center">There is no such blocks or transactions. Please wait a while...</p>
			<div class="row">
		 		<div class="col-12">
					<p class="text-center">
						{{.percentLoaded}}% of blocks is loaded
					</p>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: {{.percentLoaded}}%" aria-valuenow="{{.percentLoaded}}" aria-valuemin="0" aria-valuemax="100">
						</div>
					</div>
		 		</div>
		 	</div>
		{{end}}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>
{{end}}