<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Latest block</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
	<div class="container">

		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav  mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="/">Home </a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/latest_block">Latest Block <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/transactions">Transactions </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/blocks">Blocks</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/accounts">Accounts </a>
		      </li>
		    </ul>
	      <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="text" id="search-input" placeholder="Search by block number">
		      <button class="btn btn-outline-success my-2 my-sm-0" id="search-button" type="submit">Search</button>
				</form>
		  </div>
		</nav>

	{{if .}}
		<center>
			<h1>Latest block</h1>
		</center>
		<hr>
		<p>Gas Used: {{.block.gasUsed}}</p>
		<p>Hash: {{.block.hash}}</p>
		<p>Number: {{.block.number}}</p>
		<p>Size: {{.block.size}}</p>
		<p>Timestamp: {{.block.timestamp}}</p>
		<p>Validator: <a href="/accounts/{{.block.validator}}">{{.block.validator}}</a></p>

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>TXID</th>
		      <th>To</th>
		      <th>From</th>
		      <th>Value</th>
		    </tr>
		  </thead>
		  <tbody>
				{{range .txs}}
			    <tr>
			      <th scope="row"><a href="/transactions/{{.hash}}">{{.hash}}</a></th>
			      <td><a href="/accounts/{{.to}}">{{.to}}</a></td>
			      <td><a href="/accounts/{{.from}}">{{.from}}</a></td>
			      <td>{{.value}}</td>
			    </tr>
		    {{end}}
		  </tbody>
		</table>

	{{else}}
		<center>
			<h1>There is no block so far. Please wait a while...</h1>
		</center>
		<hr>
	{{end}}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>