{{define "latest_block"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Latest block</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="assets/build/app.css">
</head>
<body>
	<div class="container">
		{{template "header" .}}

		<h1 class="text-center">Latest block</h1>
		<hr>
		{{if .}}
		<p>Gas Used: {{.GasUsed}}</p>
		<p>Hash: {{.Hash}}</p>
		<p>Number: {{.Number}}</p>
		<p>Size: {{.Size}}</p>
		<p>Timestamp: {{.Timestamp}}</p>
		<p>Validator: <a href="/accounts/{{.Validator}}">{{.Validator}}</a></p>

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>TXID</th>
		      <th>To</th>
		      <th>From</th>
		      <th>Value</th>
		    </tr>
		  </thead>
		  <tbody>
				{{range .Txs}}
			    <tr>
			      <th scope="row"><a href="/transactions/{{.Hash}}" class="shortcut">{{.Hash}}</a></th>
			      <td><a href="/accounts/{{.To}}" class="shortcut">{{.To}}</a></td>
			      <td><a href="/accounts/{{.From}}" class="shortcut">{{.From}}</a></td>
			      <td>{{.Value}}</td>
			    </tr>
		    {{end}}
		  </tbody>
		</table>

		{{else}}
			<p class="text-center">There is no such blocks or transactions. Please wait a while...</p>
		{{end}}
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>
{{end}}