{{define "transactions"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Transactions list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="assets/build/app.css">
</head>
<body>
	<div class="container">
		{{template "header" .}}
		
		<h1 class="text-center">Transactions</h1>
		<hr>

		{{if .}}
		<table class="table table-striped">
		  <thead>
		    <tr>
		    	<th>Block</th>
		    	<th>Created</th>
		      <th>TXID</th>
		      <th>From</th>
		      <th>To</th>
		      <th>Value</th>
		    </tr>
		  </thead>
		  <tbody>
			{{range .}}
			    <tr>
			    <td><a href="/blocks/{{.BlockNumber}}">{{.BlockNumber}}</a></td>
			    <td><p class="age">{{.Timestamp}}</p></td>
				  <td><a href="/transactions/{{.Hash}}" class="shortcut">{{.Hash}}</a></td>
				  <td><a href="/accounts/{{.From}}" class="shortcut">{{.From}}</a></td>
				  <td>
			      	{{if .To}}
			      		<a href="/accounts/{{.To}}" class="shortcut">{{.To}}</a>
			      	{{else}}
			      		<p>Contract Deployment</a>
			      	{{end}}
				  <td>{{.Value}}</td>
			    </tr>
		    {{end}}
		  </tbody>
		</table>
		{{else}}
			<p class="text-center">There is no such transactions. Please wait a while...</p>
		{{end}}

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/js/main.js"></script>

</body>
</html>
{{end}}